<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>IH3LPwMdVRgr7H7Z9HR4UBhOW</string>
	<key>consumer_secret</key>
	<string>IF8iyLvxDUQ93YQrWT6th0ATrWpgO79fcnHZHeweAkDR86yXvI</string>
</dict>
</plist>
